---
import Navbar from '../components/navbar.vue';
import AvailableProduct from '../components/AvailableProduct.vue';
---

<div class="w-10/12 mx-auto">
	<Navbar client:load />
	<AvailableProduct client:load/>
</div>

<style>
</style>
