---
import Navbar from "../components/navbar.vue";
import TakenProduct from "../components/TakenProduct.vue";
---

<div class="w-10/12 mx-auto">
    <Navbar client:load />
    <TakenProduct client:load />
</div>

<style></style>
